body {
    background-color: rgb(237, 167, 167);
    color: rgb(255, 255, 255);
    font-family: Andale Mono, monospace;
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0;
    display: grid;
    grid: "header header header header" auto
    "..... lists active ....." auto /
    1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
}
.title {
    grid-area: header;
}
.all-tasks {

}
.todo-list {

}